@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #222;
}

ul,
li {
  list-style: none;
}

html {
  width: auto;
}

body {
  width: 100%;
  white-space: nowrap;
}

.container {
  width: 100%;
  height: auto;
  padding: 0 12%;
}

#wrap {
  display: block;

  position: relative;
  top: 0;
  left: 0;
  right: 0;
  /* background-color: aqua;*/
}

/* =====헤더==== */

.header {
  display: flex;
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 9999;
  transition: all 0.4s;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
}
.header:hover {
  height: calc(250px + 120px);
  /* height: 200px; */
}
/* 헤더에 hover했을때 나오는 영역 */
.header::before {
  width: 100%;
  height: 100px;
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  /* background-color: rgba(255, 255, 255, 0.7); */
  /* border-bottom: 1px solid #d8d8d8; */
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* max-width: 1800px; */
  height: 120px;
  z-index: 1;
}
/* logo */
.header .logo {
  width: 10%;
  height: 100%;
  display: flex;
  position: absolute;
}

.header .logo img {
  width: 120px;
  height: 120px;
}
/* nav */
.nav {
  /* background-color: antiquewhite; */
  /* height: 300px; */
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.gnb {
  position: absolute;
  top: 0;
  display: flex;
  gap: 3vw;
  overflow: hidden;
  margin-left: 300px;

  /* margin: 0 100px; */
}

.gnb-title {
  position: relative;
}

.gnb-title::after {
  display: block;
  content: "";
  width: 0%;
  height: 2px;
  background-color: #ff592e;
  position: absolute;
  top: 75px;
}

.gnb-title:hover::after {
  transition: 0.3s ease;
  width: 100%;
}

.gnb > li {
  width: 120px;
}

.gnb > li > a {
  font-size: 18px;
  font-weight: 700;
  line-height: 110px;
  padding: 0 10px;
}
.gnb a:hover {
  color: #ff592e;
}
.gnb > li:hover > a {
  color: #ff592e;
}

.gnb-title {
  height: 110px;
}

/* nav 버튼 */
.gnb_shop_btn {
  width: 85px;
  height: 32px;
  border: 1px solid transparent;
  background-color: rgb(255, 89, 46);
  padding: 5px 15px;
  text-align: center;
  border-radius: 14px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.gnb_shop_btn:hover {
  background-color: #f43b00;
}

.depth2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 30px;
  padding: 40px 10px;
}
.depth2 > li > a {
  color: #121212;
  font-size: 17px;
  font-weight: 500;
  /* 숫자만 적으면 font size의 배수로 인식함.(15 * 1.95) */
  line-height: 1.92;
}

/* =====배너=====*/

.banner {
  /* background: url("../images/banner_img_row.png") no-repeat;
  background-size: cover; */
  display: block;
  width: 100%;
  height: 1000px;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.swiper-slide {
  width: 100%;
}

/* 배경이미지 img 넣기 */
.banner-texBox img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
}

.banner-textBox {
  /* display: flex;
  flex-direction: column; */
  position: absolute;
  height: auto;
  top: 500px;
  transform: translateY(-50%);
  z-index: 999999;
  text-align: start;
}

.banner-textBox h1 {
  /* font-size: 54px; */
  font-size: 60px;
  width: 100%;
  line-height: 80px;
  letter-spacing: -5px;
  color: #f43b00;
  margin-bottom: 90px;
}

.banner-bt-btn {
  /* font-size: 24px; */
  font-size: 25px;
  font-weight: 900;
  color: #f43b00;
  border: 1px solid #f43b00;
  padding: 20px 40px;
  cursor: pointer;
}

/* .banner-bt-btn */
.strawberry {
  color: #fff;
  border: 1px solid #fff;
}

.banner-swiper {
  display: block;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
  height: 1px;
}

/* .banner-swiper-bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: rgba(255, 89, 46, 0.5);
} */

/* =====신메뉴===== */
.new-menu {
  display: flex;
  /* gap: 20px; */
  background: url("../images//bg_news-item.png") no-repeat;
  /* background-position: 0; */
  width: 100%;
  height: 1000px;
  margin: 0 auto;
  position: relative;
  top: 0;
}

.new-menu_titleBOX {
  padding-top: 120px;
}

.new-menu_titleBOX > * {
  margin-bottom: 35px;
}

.new-menu_titleBOX h3 {
  font-size: 40px;
  color: #f43b00;
}

.new-menu_titleBOX h1 {
  font-size: 70px;
  font-weight: bold;
  letter-spacing: -2px;
  color: #f43b00;
}

.new-menu_titleBOX p {
  font-size: 25px;
  color: #1a1a1a;
  font-weight: 400;
  line-height: 35px;
}

.new-menu_view {
  margin-top: 150px;
  font-weight: 900;
  cursor: pointer;
}

.new-menu_view img {
  margin-left: 5px;
}

/* 신메뉴 리스트 */
.new-menu-list {
  width: 1100px;
  overflow: hidden;
  position: absolute;
  top: 150px;
  right: 0px;
  font-size: 16px;
  text-align: center;
  color: #f43b00;
}

.new-menu-list ul {
  display: flex;
}

.new-menu-list ul li {
  margin: 0 10px;
}

.new-menu-list ul li > * {
  margin-bottom: 10px;
}

.new-menu-list ul li img {
  width: 200px;
  /* width: 12.6875vw; */
}

/* 신메뉴 리스트 텍스트 */
.menu-name {
  font-size: 25px;
  font-weight: 600;
}

.menu-text {
  margin-top: 20px;
  color: #1a1a1a;
}

/* ===== 시그니처 ===== */

.signature {
  position: relative;
  width: 100%;
  height: 800px;
  cursor: pointer;
  color: rgba(71, 71, 71, 0.8);
  background: url("../images/bg_signature-item.png") no-repeat;
  background-position: 100% 0;
}

.signature-titleBox {
  display: block;
  padding-top: 120px;
  /* position: absolute; */
}

.signature-titleBox h3 {
  font-size: 50px;
  margin-bottom: 40px;
  color: #f43b00;
}

.signature-titleBox p {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 100;
  line-height: 35px;
}

.signature-titleBox :nth-child(2) {
  font-weight: 600;
  line-height: 35px;
  color: #1a1a1a;
}

.signature-titleBox :nth-child(3) {
  margin-bottom: 30px;
}
.signature-titleBox button {
  font-size: 25px;
  padding: 15px 50px;
  background-color: transparent;
  border: 1px solid #ff592e;
  color: #ff592e;
  font-weight: 600;
  margin-top: 60px;
}

/*====== notice ======*/
.notice {
  display: block;
  width: 100%;
  height: 850px;
}

.notice-header {
  margin-bottom: 70px;
}

.notice-title {
  font-size: 70px;
  color: #f43b00;
  font-weight: 800;
  text-align: center;
}

.notice-wrap {
  width: 100%;
  display: flex;
  margin: 0 auto;
}
.notice-list {
  display: flex;
  margin: 0 25px;
}

.notice-list a li {
  padding: 25px;
  border: 2px solid #ff592e;
  color: #ff592e;
}
.notice-list a li img {
  width: 400px;
}

.notice-textBox {
  margin: 40px 0 70px 0;
}

.notice-list-subTitle {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 20px;
}

.notice-list-title {
  width: 100%;
  height: 50px;
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 600;
  overflow: hidden;
  max-width: 400px;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-word;
}

.notice-textBox p {
  color: #4b4a4a;
  font-size: 18px;
}

/* ===== 서포터즈 ===== */
.support {
  width: 100%;
  height: 690px;
  background: url("../images/supporter_bg.jpg") no-repeat;
}

.support-titleBox {
  padding-top: 150px;
}

.support-titleBox > * {
  margin-bottom: 30px;
}

.support-titleBox h1 {
  font-size: 55px;
  line-height: 65px;
  color: #f43b00;
}

.support-titleBox p {
  font-size: 25px;
  line-height: 35px;
  color: #4b4a4a;
}

.support-titleBox button {
  font-size: 25px;
  padding: 15px 45px;
  margin-top: 35px;
  background: transparent;
  cursor: pointer;
  border: 1px solid #1a1a1a;
}

/* ====== 오더 & 길찾기 ======= */
.marginal {
  width: 100%;
  height: 600px;
  display: block;
  position: relative;
}
.marginal-wrap {
  width: 100%;
  height: 100%;
}

.marginal-wrap h1 {
  font-size: 55px;
  color: #f43b00;
  margin-bottom: 40px;
}

.marginal-wrap p {
  font-size: 25px;
  color: #f43b00;
  margin-bottom: 100px;
  line-height: 33px;
  font-weight: 500;
}

.marginal-textWrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* gap: 50px; */
}

.marginal-textBox-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  background: url("../images/order_bg.png") no-repeat;
  background-position: 90% 150%;
  background-color: #f0eae8;
  padding-left: 12%;
}

.marginal-textBox-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  background: url("../images/location_map.png") no-repeat;
  background-color: #f43b00;
  background-position: 100% 100%;
  padding: 0 12% 0 200px;
}

.marginal-textBox-right input {
}

.marginal-textBox-right h1,
.marginal-textBox-right p {
  color: #fff;
}
.marginal_view {
  font-weight: 800;
}

.marginal_view :nth-child(2) {
  margin-left: 8px;
}

/* marginal-map-btn*/
.marginal-map-btn {
  display: flex;
  align-items: center;
  color: #ff592e;
  background-color: #fbf4e4;
  width: 250px;
  height: 60px;
  overflow: hidden;
}

.marginal-map-btn input {
  width: 200px;
  height: 60px;
  font-size: 23px;
  padding: 15px 10px;
  background-position: 95% 50%;
  color: #ff592e;
  background-color: #fbf4e4;
  border: 1px solid transparent;
}

.marginal-map-btn #search {
  width: 50px;
  height: 60px;
  background: url("../images/icon_zoom.png") no-repeat center;
  background-color: #fbf4e4;
  cursor: pointer;
}

.marginal-map-btn input::placeholder {
  color: #f43b00;
}

/* .marginal-map-btn button {
  width: 40px;
  height: 40px;
} */

/* ===== footer ===== */
.footer {
  display: block;
  width: 100%;
  position: relative;
}

.footer-wrap {
  display: block;
  width: 100%;
  height: 850px;
  padding: 130px 0;
}

/* footer-top */

.footer-top {
  display: flex;
  width: 100%;
  position: relative;
  padding-bottom: 50px;
}

/* .footer-top::before {
  content: "";
  width: 72%;
  height: 1px;
  background-color: rgba(34, 34, 34, 0.2);
  position: absolute;
  bottom: 0;
} */

.footer-top .logo {
  width: 80%;
}

.footer-top .logo img {
  width: 200px;
}

.footer-top-text {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 180px;
  margin: 0 100px;
  /* flex-grow: 2; */
}
.footer-top-text li {
  width: 170px;
}

.footer-top-text .title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 45px;
}

.footer-top-text .title a:hover {
  color: blue;
}

.footer-top-text p {
  font-size: 15px;
  margin-bottom: 25px;
}

.footer-top-text .title-contact a {
  color: #f43b00;
  font-weight: 500;
}

.footer-top-text a {
  position: relative;
}

.footer-top-text a:hover {
  color: #000;
  font-weight: 700;
  transition: 0.4s ease-in-out;
}

.footer-top-text a:hover::after {
  opacity: 1;
  width: 100%;
}

.footer-top-text li p a::after {
  content: "";
  width: 0%;
  height: 1px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  bottom: -3px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.3s;
}

/* footer-bt */
.footer-bt {
  width: 100%;
  margin: 50px 0;
}

.footer-bt-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 35%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.family-site {
  width: auto;
  position: relative;
  top: 50px;
}

/* select 아래선 추가 */
.family-site::before {
  content: "";
  display: block;
  width: 100%;
  height: 2.5px;
  position: absolute;
  top: 70px;
  background-color: #1a1a1a;
}

/* select 화살표 -> ' + ' 표시로 변경*/
.family-site::after {
  content: "+";
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 30px;
  font-weight: 500;
}

.family-site select {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid transparent;
  padding: 20px 0;
  width: 330px;
  appearance: none;
}

.family-site select option {
}

/* .family-site option {
  position: absolute;
  top: 100px;
} */

.footer-bt-r {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
}

.copyright {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: rgba(34, 34, 34, 0.4);

  text-align: start;
  display: inline;
}

.copyright a {
}

.footer-bt-download {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

.footer-bt-download button {
  width: 190px;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid rgba(34, 34, 34, 0.2);
  border-radius: 40px;
  background: transparent;
  margin-right: 15px;
  cursor: pointer;
}

.footer-bt-download .app {
  background: url("../images/apple.svg") no-repeat;
  background-position: 15% 45%;
  padding-left: 30px;
}

.footer-bt-download .google {
  background: url("../images/google.svg") no-repeat;
  background-position: 15% 45%;
  padding-left: 40px;
}

.footer-bt-download .qrCode {
  width: 100px;
  margin-left: 10px;
}

/* ====고정 아이콘==== */
.floating-wrap {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 99999999;
}

.floating-wrap img {
  width: 100px;
}

.floating-fox {
  position: relative;
}

.floating-fox:hover .signature-buy {
  display: block;
}

.floating-wrap a {
  display: inline-block;
  width: 100px;
}

.signature-buy {
  display: none;
  position: absolute;
  top: -130px;
  left: 8px;
  background: url("../images/textbox-bg.svg") no-repeat center;
  width: 100px;
  height: 125px;
  border-radius: 10px;
  text-align: center;
  /* overflow: hidden; */
  line-height: 19px;
  padding: 10px 0;
  color: #111;
  z-index: 999999;
}

.signature-buy .textBox {
  position: absolute;
  top: 15px;
  left: 17px;
  color: #fff;
}

.signature-buy .textBox svg {
  width: 15px;
  height: 15px;
  color: #fff;
}

.floating-wrap button {
  width: 25px;
  height: 25px;
  border: 0;
  position: absolute;
  top: 0;
  right: -20px;
  background: url("../images/floating_close.svg") no-repeat center;
  cursor: pointer;
}

/* =====스와이프 ====*/
.swiper-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 9px;
  /* gap: 10px; */
}

.swiper-pagination-bullet {
  background-color: #f43b00;
  width: 10px;
  height: 10px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.new-menu-list .swiper-button-prev {
  background: url(../images/btn_nav_prev.png) no-repeat;
}
.new-menu-list .swiper-button-next {
  background: url(../images/btn_nav_next.png) no-repeat;
}

.new-menu-list .swiper-button-next::after,
.new-menu-list .swiper-button-prev::after {
  display: none;
}
